*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid rgba(255, 0, 0, 0.2);
}

.container {
  min-width: 100dvw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
    flex: 1 1 220px;
}
