*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  gap: 16px;
  flex-wrap: wrap;
}

nav {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
